* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: "Roboto", "sans-serif";
}

/* Navigation */

.nav-container {
    background: #FFFFFF;
    box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.1);
    height: 72px;
}

.wrapper {
    width: 1200px;
    margin: 0 auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 72px;
}

nav ul {
    display: flex;
}

nav .logo {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    color: #1D3557;
    text-decoration: none;
}

nav .logo-home {
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 54px;
    color: #1D3557;
    text-decoration: none;
}

.nav-items li {
    list-style: none;
    margin-right: 100px;
}

/* remove margin off last item */

.nav-items li:nth-last-of-type(1) {
    margin: 0;
}

.nav-items li a {
    color: #1D3557;
    font-size: 24px;
    font-family: "Poppins", sans-serif;
    text-decoration: none;
}


/* Header */

.header-container {
    background: #457B9D4D url('images/bg-shape.svg');
    background-repeat: no-repeat;
    background-position: right;
    background-size: contain;
    height: calc(100vh - 72px);
    display: flex;
    align-items: center;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 900;
    font-size: 54px;
    line-height: 81px;
    color: #1D3557;
    margin-bottom: 24px;
}

header p {
    width: 429px;
    font-size: 24px;
    line-height: 42px;
    color: #1D3557;
    /* margin-bottom: 48px; */
}

header a {
    color: #FFFFFA;
    font-size: 24px;
    text-decoration: none;
    background: rgba(230, 57, 70, 0.8);
    border-radius: 8px;
    padding: 8px 48px;
    margin-top: 48px;
    display: inline-block;
    transition: 300ms;
}

header a:hover {
    transform: translateY(-8px);
}

/* Social Icons */

.social-icons {
    display: flex;
    align-items: center;
}

.social-icons a {
    margin: 0 24px;

}

.social-icons a:nth-of-type(1) {
    margin-left: 0;
}

/* Hero Image */

header .hero-image {
    position: relative;
}

header .hero-image img {
    transition: 300ms;
    position: relative;
    z-index: 100;
}

header .hero-image img:hover {
    transform: rotate(-6deg);
}

header .hero-image .photo-bg {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 47px;
    top: 30px;
    background: #E63946;
    transform: rotate(-5.88deg);
}

/* Tech Section */

.tech-section {
    padding: 32px 50px;

}

.tech-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1D3557;
}


.tech-container {
    display:inline-flexbox;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10px;
    gap: 8px;
}

.tech-section .tech-container img {
    height: 45px;
}

.about-content {
    margin-bottom: 40px;
    font-size: 20px;
}

.resume-link {
    color: rgba(230, 57, 70, 0.8);;
    background: none;
    padding: 0;
    margin: 0;
    font-size: 20px;
}

.about-header h1 {
    color: #1D3557;
    margin-bottom: 28px;
}

/* Project Section */
.project-section {
    padding: 32px 50px;
}

.project-section h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: #1D3557;
}


.project-container {
    display: flex;
    flex-flow: row wrap;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    margin: 30px 10px;
}

.project-section .project-container img {
    height: 200px;
    /* position: relative; */
    flex: 1 1 auto;
    flex-direction: column;

}

input[type=text], textarea {
    padding: 16px, 30px;
    box-shadow: 0px 6px 16px rgba(0, 0, 0, 0.11);
    border-radius: 4px;
    border: 1px solid #1D3557;
    font-family: "Roboto", sans-serif;
    flex: 1;
    margin-bottom: 36px;

}

.contact-section .group {
    display: flex;
}

input[type=text]:nth-of-type(1) {
    margin-right: 16px;
}
input[type=text]:nth-of-type(2) {
    margin-left: 16px;
}

msg-btn {
    margin-bottom: 30px;
}
.contact-section {
    padding-bottom: 30px;
}
.contact-section h2 {
    color: #1D3557;
    margin-bottom: 28px;
    font-size: 32px;
}
